<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <!--     Boton para regresar
 --> <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
</ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="inset">
    <ion-item class="ion-text-wrap">
      <ion-label>Ver asistencia</ion-label>
      <ion-button fill="clear" [routerLink]="['/lista-asistencia']"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Tomar asistencia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Codigo</ion-label>
      <ion-button fill="clear" [routerLink]="['/codigos']"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

  
</ion-content>
