<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <!--     Boton para regresar
 -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Codigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list [inset]="true">
    <ion-item-sliding button *ngFor="let codigo of data">

        <ion-item >
          <ion-badge slot="start">{{codigo.total}}</ion-badge>
          <ion-label class="ion-text-wrap">
            <h2>{{codigo.cod_code}} </h2>
          </ion-label>
        </ion-item>

      
      <ion-item-options slot="end">
        <ion-item-option color="primary" (click)="showDataAlert(codigo)" >
          <ion-icon name="color-wand-outline" size="large"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary"  >
          <ion-icon slot="icon-only" name="share" (click)="editar(codigo.cod_id,codigo.cod_fkgroup)"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Boton generar codigo  -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="new()">
      <ion-icon name="qr-code-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- [routerLink]="['/lista-codigos']" -->
</ion-content>
