<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Respuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="questiondetails as answer" class="otherperson">
    <ion-card-header>
      <ion-card-subtitle class="text-info">{{ answer?.desc }}</ion-card-subtitle>
        <ion-card-subtitle class="text-details">{{ answer?.ans_create }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card *ngIf="questiondetails as answer" class="usuario">
    <ion-card-header>
      <ion-card-subtitle class="text-info">{{ answer?.ans_description }}</ion-card-subtitle>
      <ion-card-subtitle class="text-details">{{ answer?.ans_create }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
</ion-content>