<ion-header [translucent]="true">
  <ion-toolbar>
<!-- Boton para regresar -->    
      <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ gruposubject }} {{ grupocode }}</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="">
        <ion-button class="ion-activatable ripple-parent circle" fill="clear">
          <ion-icon aria-hidden="true"  src="assets/icon/asistencia.svg" size="large"></ion-icon>
        </ion-button>
        <ion-label>Asistencia</ion-label>
      </ion-col>
      <ion-col>
       <ion-button class="ion-activatable ripple-parent circle" fill="clear">
          <ion-icon size="large" src="assets/icon/Noti.svg" size="large"></ion-icon>
        </ion-button>
        <ion-label>Notificaciones</ion-label>
      </ion-col>
      <ion-col>
       <ion-button class="ion-activatable ripple-parent circle" fill="clear" [routerLink]="['/library', grupoid]">
          <ion-icon size="large" src="assets/icon/file.svg" size="large"></ion-icon>
        </ion-button>
        <ion-label>Archivos</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
       <ion-button class="ion-activatable ripple-parent circle" fill="clear" [routerLink]="['/question']">
          <ion-icon size="large" src="assets/icon/pregunta.svg" size="large"></ion-icon>
        </ion-button>
        <ion-label>Preguntas</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    
    <!-- Boton principal -->
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button> 

    <ion-fab-list side="bottom">
      <!-- Botones secundarios -->
      <!-- Tabla classroom -->
      <ion-fab-button [routerLink]="['/classroom']">
        <ion-icon name="business-outline"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

</ion-content>

