<ion-header [translucent]="true">
  <ion-toolbar>
<!-- Boton para regresar -->    
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{gruposubject}} {{grupocode}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <!-- Primera fila de elementos -->
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <!-- Botón para la página 'asistencia' -->
        <ion-button class="ion-activatable ripple-parent circle" fill="clear" [routerLink]="['/asistencia', grupoid]">
          <ion-icon aria-hidden="true" src="assets/icon/asistencia.svg" size="large"></ion-icon>
        </ion-button>
        <ion-label>Asistencia</ion-label>
      </ion-col>
      <!-- Botón para Notificaciones -->
      <ion-col>
        <ion-button class="ion-activatable ripple-parent circle" fill="clear" [routerLink]="['/menunoti', grupoid]">
          <ion-icon size="large" src="assets/icon/Noti.svg" size="large"></ion-icon>
        </ion-button>
        <ion-label>Notificaciones</ion-label>
      </ion-col>
      <!-- Botón para la página 'library' -->      
      <ion-col>
        <ion-button class="ion-activatable ripple-parent circle" fill="clear" [routerLink]="['/library', grupoid]">
          <ion-icon size="large" src="assets/icon/file.svg" size="large"></ion-icon>
        </ion-button>
        <ion-label>Archivos</ion-label>
      </ion-col>
    <!-- Cierro primera fila de elementos -->
    </ion-row>
    <!-- Segunda fila de elementos -->
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <!-- Botón para la página 'question' -->
        <ion-button class="ion-activatable ripple-parent circle" fill="clear" [routerLink]="['/question']">     
          <ion-icon size="large" src="assets/icon/pregunta.svg" size="large"></ion-icon>
        </ion-button>
        <ion-label>Preguntas</ion-label>
      </ion-col>
    <!-- Cierro segunda fila de elementos -->
    </ion-row>
  <!-- Cierro grid -->
  </ion-grid>
  
</ion-content>