ion-title {
    color: var(--ion-color-text1);
}

ion-content {
    --background: #f4f4f4;
}

ion-label {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px;
}

#note {
    margin-top: 5px;
}

ion-note {
    font-size: 0.9em;
}

.ion-text-center {
    text-align: center;
}