<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Asignación de calificaciones </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="grad" (ngSubmit)="guardarDatos()">
    <ion-grid class="first-grid"> <!-- Cuadrícula de diseño -->
    <ion-row> <!-- Fila de la cuadrícula -->
        <ion-col size="12"> <!-- Columna con tamaño completo (12) -->
        <ion-item>
            <ion-label position="floating" color="primary">Tipo</ion-label>
            <ion-input type="text" formControlName="gra_type"
            class="form-control"></ion-input>
        </ion-item>
        <div id="note" *ngFor="let validation of mensajes_validacion.gra_type">
            <ion-note color="danger"
            *ngIf="getError('gra_type')[(validation.type)]">
            <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
            </ion-note>
        </div>
        </ion-col>
        <ion-col size="12">
        <ion-item>
            <ion-label position="floating" color="primary">Fecha</ion-label>
            <ion-input type="text" formControlName="gra_date"
            class="form-control"></ion-input>
        </ion-item>
        <div id="note" *ngFor="let validation of
            mensajes_validacion.gra_date">
            <ion-note color="danger"
            *ngIf="getError('gra_date')[(validation.type)]">
            <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
            </ion-note>
        </div>
        </ion-col>
        <ion-col size="12">
        <ion-item>
            <ion-label position="floating" color="primary">Hora</ion-label>
            <ion-input type="text" formControlName="gra_time"
            class="form-control"></ion-input>
        </ion-item>
        <div id="note" *ngFor="let validation of
            mensajes_validacion.gra_time">
            <ion-note color="danger"
            *ngIf="getError('gra_time')[(validation.type)]">
            <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
            </ion-note>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>



    <ion-grid class="second-grid"> <!-- Cuadrícula de diseño -->
      <ion-row> <!-- Fila de la cuadrícula -->
        <ion-col size="12">

          <table class="table">

            <tr>
              <th>Grupo</th>
              <th>Alumno</th>
              <th>Calificación</th>
              <th>Comentario</th>
            </tr>

            <tr>

              <td>
                <ion-input type="text" formControlName="gra_fkgroup"
                class="form-control"></ion-input>
                <div id="note" *ngFor="let validation of
                mensajes_validacion.gra_fkgroup">
                <ion-note color="danger"
                *ngIf="getError('gra_fkgroup')[(validation.type)]">
                <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
                </ion-note>
                </div>
              </td>

              <td>
                <ion-select formControlName="gra_fkperson" class="form-control">
                  <ion-select-option *ngFor="let person of personas"
                      [value]="person.per_id">
                      {{ person.per_name }}
                  </ion-select-option>
                  </ion-select>
                <div id="note" *ngFor="let validation of
                mensajes_validacion.gra_fkperson">
                <ion-note color="danger"
                *ngIf="getError('gra_fkperson')[(validation.type)]">
                <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
                </ion-note>
                </div>
              </td>

              <td>
                <ion-input type="text" formControlName="gra_score"
                class="form-control"></ion-input>
                <div id="note" *ngFor="let validation of
                mensajes_validacion.gra_score">
                <ion-note color="danger"
                *ngIf="getError('gra_score')[(validation.type)]">
                <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
                </ion-note>
                </div>
              </td>

              <td>
                <ion-input type="text" formControlName="gra_commit"
                class="form-control"></ion-input>
                <div id="note" *ngFor="let validation of
                mensajes_validacion.gra_commit">
                <ion-note color="danger"
                *ngIf="getError('gra_commit')[(validation.type)]">
                <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
                </ion-note>
                </div>
              </td>

            </tr>

          </table>
          </ion-col>
        </ion-row>
      </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col size="12">
        <p class="ion-text-center">
            <ion-button type="submit" [disabled]="!grad.valid">Guardar</ion-button>
        </p>
        </ion-col>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
