.wrapper {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

ion-button{
    margin-top: 1rem;
}

ion-content{
    --background: url('../../assets/fondo.svg');
    --background-position: center;
    --background-repeat: no-repeat;
    --background-size: contain;
    display: flex;
    justify-content: center;
}

