ion-grid {
    margin: 5px;
    ion-row {
        border: 1px solid #f6f1f1; // Borde de cada notificación
        background-color: var(--ion-color-primary-contrast);
        border-radius: 10px;
        box-shadow: 0 5px 5px rgba(13, 13, 13, 0.2);
        margin-bottom: 10px; // Espacio entre notificaciones
        padding: 10px;
        ion-col {
            display: flex;
            align-items: center;
            padding: 10px;
            &:nth-child(1) {
                justify-content: flex-start;
                padding: 0px;
            }
            &:nth-child(2) {
                flex-grow: 1;
                color: var(--ion-color-text12);
            }
            &:nth-child(3) {
                justify-content: right;
            }
        }
    }
}

.icon-large {
    font-size: 30px; /* Tamaño de los iconos de los archivos */
  }