<ion-header [translucent]="true">
  <ion-toolbar>
<!--     Boton para regresar
 -->    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tus Grupos</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tus Grupos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item button *ngFor="let group of groups" [routerLink]="['/menu1', group.gro_id, group.subject, group.gro_code]">

      
      <ion-label class="ion-text-wrap">
        <h2>{{group.subject}} {{group.gro_code}}</h2>
        <h3>{{group.teacher}} </h3>
        <p>Ubicación {{group.classroom}}</p>
        <p>Creado  el: {{group.gro_date | date:'y-MM-dd'}} {{group.gro_time}}</p>
      </ion-label>
 
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    
    <!-- Boton principal -->
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="bottom">
      <!-- Botones secundarios -->
      <ion-fab-button (click)="mostrarAlerta()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button >
      <!-- Tabla classroom -->
      <ion-fab-button [routerLink]="['/classroom']">
        <ion-icon name="business-outline"></ion-icon>
      </ion-fab-button>
      <!-- Tabla major -->
      <ion-fab-button [routerLink]="['/major']">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-fab-button>
      <!-- Tabla subject -->
      <ion-fab-button [routerLink]="['/subject']">
        <ion-icon name="book-outline"></ion-icon>
      </ion-fab-button>      

    </ion-fab-list>
  </ion-fab>

</ion-content>
