<ion-header [translucent]="true" class="ion-no-border ion-padding">
    <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/"></ion-back-button>
        <ion-title>Regresar</ion-title>
    </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true" class="content-centered">

    <div class="ion-align-items-center ion-padding">
        <ion-grid [fixed]="true" size="">
            <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-thumbnail size="">
                    <img alt="multicheck" src="assets/icon/LOGO.png" size="base" />
                </ion-thumbnail>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="9">
                    <ion-input class="custom" type="Username" fill="solid" label="Username" labelPlacement="floating"
                        ngModel></ion-input>

                </ion-col>
                <ion-col size="9">
                    <ion-input class="custom" type="Contraseña" fill="solid" label="Contraseña"
                        labelPlacement="floating" ngModel></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-text-center">
                <ion-col size="8">
                    <ion-button fill="outline">Iniciar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>