<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ruta-anterior"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Carreras Disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row *ngFor="let major of majors">
      <ion-col size="1">
        <div class="rectangle-avatar">
          <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Foto"></ion-img>
        </div>
      </ion-col>

      <ion-col size="8">
        <ion-label class="ion-text-wrap">
          <h2>{{major.maj_name}}</h2>
          <h3>{{major.maj_code}}</h3>
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-button id="click-trigger-{{major.maj_id}}">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
        <ion-popover trigger="click-trigger-{{major.maj_id}}" [dismissOnSelect]="true" [keepContentsMounted]="true"
          side="end">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false" (click)="alertEliminar(major.maj_id)">
                  <ion-icon name="trash"></ion-icon>
                  Eliminar
                </ion-item>
                <ion-item [button]="true" [detail]="false" (click)="UpMajor(major.maj_id)">
                  <ion-icon name="create"></ion-icon>
                  Modificar
                </ion-item>
                <ion-item [button]="true" [detail]="false" [routerLink]="['extracurricular', major.maj_id]">
                  <ion-icon name="eye"></ion-icon>
                  Ver mas
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>

      <!-- <ion-col>
        <ion-button (click)="alertEliminar(extras.extgro_id)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col> -->

    </ion-row>
  </ion-grid>

  <!--
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="new()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  -->



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="newMajor()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="elimMajor()">
        <ion-icon name="backspace-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <!--<ion-grid>
    Crear una fila por cada elemento
    <ion-row *ngFor="let major of majors" >
       Crear columna para el icono
      <ion-col size="1" >
      <img alt src="https://ionicframework.com/docs/img/demos/card-media.png">
      </ion-col>
       Crear columna para el texto
      <ion-col >
        <ion-label>
          <h2>{{major.maj_name}}</h2>
          <h3>{{major.maj_code}}</h3>
        </ion-label>
        
      </ion-col>
    </ion-row>
  </ion-grid>-->


  <!--
  <ion-item-sliding *ngFor="let major of majors">
    <ion-item>
      <ion-grid class="custom-grid">
        <ion-row>
          <ion-col size="1">
            <img alt src="https://ionicframework.com/docs/img/demos/card-media.png">
          </ion-col>
          <ion-col>
            <ion-label>
              <h2>{{ major.maj_name }}</h2>
              <h3>{{ major.maj_code }}</h3>
            </ion-label>
          </ion-col>
          

          
        </ion-row>
      </ion-grid>
    </ion-item>

  -->


  <!--<ion-item-options side="end">
      <ion-item-option color="danger" expandable="true" (click)="seleccionarMajor(major.maj_id)">
        <ion-icon slot="icon-only" name="trash" class="custom-trash-icon"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
-->

  <!-- Utiliza *ngFor para iterar sobre las asignaturas y mostrarlas en tarjetas
  <ion-card *ngFor="let major of majors" >
    <ion-card-header>
      <ion-card-title>{{ major.maj_name }}</ion-card-title>
      <ion-card-subtitle>{{ major.maj_code }}</ion-card-subtitle>
    </ion-card-header>

    <ion-button (click)="alertEliminar(major.maj_id)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>

    <ion-card-content>
    </ion-card-content>
  </ion-card>

-->

</ion-content>