<ion-header class="ion-no-border  ">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button default-href="#" routerLink="/"></ion-back-button>
          <ion-title class="dark">Regresar</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="inset">
    <ion-item button fill="clear" [routerLink]="['/tomar-asistencia',grupoid]">
      <!-- Tomar asistencia por  -->
      <ion-label>Tomar asistencia</ion-label>
    </ion-item>
  </ion-list>  
</ion-content>
