ion-grid{
 

}


.ripple-parent {
    position: relative;
    overflow: hidden;

    border: 1px solid #ddd;
}


.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

ion-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

ion-col{
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}