<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let extras of extra">
      
      <ion-col size="2">
        <div class="rectangle-avatar">
          <ion-img src="assets/img/extra.png" alt="Foto"></ion-img>
        </div>
      </ion-col>
      
      <ion-col size="8">
        <ion-label class="ion-text-wrap">
          <h2 class="extracurricular-text">{{extras.extracurricular}}</h2>
        </ion-label>
      </ion-col>
      
      <ion-col>
        <ion-label [routerLink]="['extracurricular', extras.extgro_id]" class="ver-mas">
          Ver más
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-label>
      </ion-col>
    
    </ion-row>
  </ion-grid>
</ion-content>