<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eventos Asignados</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>

  <ion-grid>
    <!-- MODIFICACIONES----------------------------------------------------------- -->
    <ion-row *ngFor="let extras of extra; let i = index">
      <!-- MODIFICACIONES----------------------------------------------------------- -->
      <!-- <ion-col size="6"> -->
        <ion-col size="6" [routerLink]="['extracurricular', extras.extgro_id]"> 
        <div class="rectangle-avatar">
          <!-- MODIFICACIONES----------------------------------------------------------- -->
          <ion-img [src]="'assets/img/extra-' + ((i % 4) + 1) + '.png'" alt="Foto" width="116" height="77"></ion-img>
          <!-- MODIFICACIONES----------------------------------------------------------- -->
        </div>
      </ion-col>

      <ion-col size="8">
        <ion-label class="ion-text-wrap">
          <!-- 
          <h2 class="extracurricular-text">{{extras.ext_name}}</h2>
          <h2 class="extracurricular-code">{{extras.ext_code}}</h2>-->
          <h2 class="extracurricular-text" [routerLink]="['extracurricular', extras.extgro_id]">{{extras.ext_name}}</h2>
          <h2 class="extracurricular-code" [routerLink]="['extracurricular', extras.extgro_id]">{{extras.ext_code}}</h2>
          <!-- MODIFICACIONES----------------------------------------------------------- -->
          <!-- MODIFICACIONES----------------------------------------------------------- -->
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-button id="click-trigger-{{extras.extgro_id}}-{{i}}">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
        <ion-popover
          trigger="click-trigger-{{extras.extgro_id}}-{{i}}"
          [dismissOnSelect]="true"
          [keepContentsMounted]="true"
          side="end">
          <ng-template>
            <ion-content>
              <ion-list>
                  <!-- Opcion de eliminar  -->                
                <ion-item 
                [button]="true" 
                [detail]="false"
                (click)="alertEliminar(extras.extgro_id, extras.ext_name, extras.ext_code)"> 
                <ion-icon name="trash"></ion-icon>
                Eliminar
                </ion-item>
                  <!-- Opcion de eliminar  -->                
                <ion-item
                  [button]="true"
                  [detail]="false"
                  (click)="editar(extras.extgro_id, extras.ext_name, extras.ext_code)"> 
                  <ion-icon name="create"></ion-icon>
                  Modificar 
                </ion-item>
                  <!-- 
                <ion-item
                  [button]="true"
                  [detail]="false"
                  [routerLink]="['extracurricular', extras.extgro_id]"> 
                  <ion-icon name="eye"></ion-icon>
                  Ver mas 
                </ion-item>-->   
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>

      <!-- <ion-col>
        <ion-button (click)="alertEliminar(extras.extgro_id)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col> -->

    </ion-row>
  </ion-grid>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="new()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <!-- MODIFICACIONES----------------------------------------------------------- -->
      <ion-fab-button [routerLink]="['events']">
        <ion-icon name="school-outline"></ion-icon>
        <!-- MODIFICACIONES----------------------------------------------------------- -->
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- MODIFICACIONES----------------------------------------------------------- -->
  <app-paginacion [total]="totalExtracurriculares" (click)="pagina($event)"></app-paginacion>
  <!-- MODIFICACIONES----------------------------------------------------------- -->

</ion-content>