ion-grid {
    margin: 5px;
    ion-row {
        border: 1px solid #f6f1f1; // Borde de cada notificación
        background-color: var(--ion-color-primary-contrast);
        border-radius: 10px;
        box-shadow: 0 5px 5px rgba(13, 13, 13, 0.2);
        margin-bottom: 10px; // Espacio entre notificaciones
        padding: 5px;
        ion-col {
            display: flex;
            align-items: center;
            &:nth-child(1) {
                justify-content: flex-start;
                padding: 0px;
                margin: 0px;
            }
            &:nth-child(2) {
                flex-grow: 1;
                color: var(--ion-color-text1);
            }
            &:nth-child(3) {
                justify-content: right;
            }
        }
    }
}

.extracurricular-text {
    font-size: 16px;
    font-weight: bold;
}

.ver-mas {
    font-size: 11px;
    color: var(--ion-color-text2);
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

.ver-mas:hover {
    color: #5225cd6b;
}

.ver-mas:active {
    color: var(--ion-color-text2-shade);
}