

/* Estilos para la lista y los elementos de la lista */
ion-list {
    
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 /* Estilos para los ítems pares */
ion-item:nth-child(even) {
    background-color: #ffcccb; /* Color para ítems pares */
  }
  
  /* Estilos para los ítems impares */
  ion-item:nth-child(odd) {
    background-color: #c2f0c2; /* Color para ítems impares */
  }
  
  /* Estilos para los checkboxes */
  ion-checkbox {
    --checkbox-background-checked: var(--ion-color-secondary);
    --checkbox-border-checked: var(--ion-color-secondary-tint); /* Borde del checkbox */
    --border-radius: 5px; /* Radio de las esquinas del checkbox */
    --color: #333; /* Color del texto del checkbox */
  
    margin-right: 15px;
  }
  
 
  
  /* Estilos para el botón */
  ion-button {
    margin: 20px;
    --background: var(--ion-color-secondary); /* Color de fondo del botón */
    --color: white; /* Color del texto del botón */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del botón */
  }
  
  
  