<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true" >
    <ion-row class="ion-justify-content-center">
      <ion-button >
        <ion-icon src="assets/icon/notas.svg" size="large" slot="icon-only"></ion-icon>
        
      </ion-button>
      <ion-button>1</ion-button>
      <ion-button>1</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-button>1</ion-button>
      <ion-button>1</ion-button>
      <ion-button>1</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
