<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asistenciaGenerada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-align-items-center ion-padding" [formGroup]="login" (ngSubmit)="submitLogin()">
    <ion-grid [fixed]="true" size="">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-thumbnail size="">
          <img alt="multicheck" src="assets/icon/LOGO.png" size="base" />
        </ion-thumbnail>
      </ion-row>
      <ion-row class="ion-justify-content-center ">
        <ion-col size="9">
          <ion-item>
            <ion-label position="floating" color="primary">Codigo</ion-label>
            <ion-input type="text" formControlName="codigo" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of validation_messages.codigo">
            <ion-note color="danger" *ngIf="getError('codigo')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
            </ion-note>
          </div>
        </ion-col>



        <ion-col size="9">
          <ion-item>
            <ion-label position="floating" color="primary">Comentario</ion-label>
            <ion-input type="text" formControlName="comentario" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of
                        validation_messages.comentario">
            <ion-note color="danger" *ngIf="getError('comentario')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{
              validation.message }}
            </ion-note>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button type="submit" expand="block" [disabled]="!login.valid">Enviar</ion-button>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>