<ion-header [translucent]="true" class="ion-no-border">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list>
      <ion-item button *ngFor="let asistencia of asistencias" >
        
        <ion-label class="ion-text-wrap">
          <h2>{{asistencia.att_commit}}</h2>
          <h3> {{asistencia.code}} </h3>
          <p>{{asistencia.att_time}}</p>
          <p>{{asistencia.att_date | date:'y-MM-dd'}}</p>
        </ion-label>
  
      </ion-item>
    </ion-list>

</ion-content>
