<ion-header [translucent]="true" class="ion-no-border">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
  
  <ion-list>
    <ion-item button *ngFor="let lista of listas; let i = index" [routerLink]="['/detalle-asistencia',lista.list_id]">
      <ion-avatar aria-hidden="true" slot="start">
          <!-- MODIFICACIONES----------------------------------------------------------- -->
          <ion-img class="mi-imagen" [src]="'assets/users/users' + ((i % 20) + 1) + '.png'" alt="Foto" width="40" height="40"></ion-img>
          <!-- MODIFICACIONES----------------------------------------------------------- -->
      </ion-avatar>
      <ion-label>{{lista.person}}</ion-label>
    </ion-item>
  </ion-list>
  <app-paginacion [total]="totalAlumnos" (click)="pagina($event)"></app-paginacion>


</ion-content>
