<ion-header [translucent]="true">
  <ion-toolbar>
    <!--     Boton para regresar
 --> <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Preguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let question of questions">
    <ion-card-header>
      <ion-card-title>{{ question.que_title }}</ion-card-title>
      <ion-card-subtitle>{{ question.que_description }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Añade el contenido de la asignatura aquí si es necesario -->
      <p>{{ question.teacher }}</p>
      <p>{{ question.que_create }}</p>
      <!-- Otros detalles de la asignatura pueden ir aquí -->
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <!-- Boton principal -->
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="bottom">

      <!-- Eliminar question -->
      <ion-fab-button (click)="mostrarAlerta()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
      <!-- agregar question -->
      <ion-fab-button>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-action-sheet trigger="open-action-sheet" header="Example header" subHeader="Example subheader"></ion-action-sheet>
      </ion-fab-button>
    

    </ion-fab-list>
  </ion-fab>
</ion-content>
