<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ruta-anterior"></ion-back-button>
    </ion-buttons>
    <ion-title>Eliminar Materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> <!-- Mandamos a llamar todos los titulos de las materias para que se muestren en la lista con check box-->
    <ion-item *ngFor="let subjects of subject">
      <ion-checkbox label-placement="stacked" alignment="start">{{ subjects.sub_name }}</ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="center"z >Guardar Cambios</ion-button>
</ion-content>


