<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ruta-anterior"></ion-back-button>
    </ion-buttons>
    <ion-title>Eliminar Materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let subjects of subject">
      <ion-checkbox label-placement="stacked" alignment="start">{{ subjects.sub_name }}</ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="center"z >Guardar Cambios</ion-button>
  <ion-button defaultHref="/ruta-anterior" expand="center"z >Cancelar</ion-button>
</ion-content>


