<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ruta-anterior"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Materias Disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>

      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color= var(--ion-color-primary) (click)="mostrarAlerta()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink] = "['/elim-subject']" >
        <ion-icon name="backspace-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="help-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>




  <!-- Utiliza *ngFor para iterar sobre las asignaturas y mostrarlas en tarjetas -->
  <ion-card *ngFor="let subjects of subject">
    <ion-card-header>
      <ion-card-title>{{ subjects.sub_name }}</ion-card-title>
      <ion-card-subtitle>{{ subjects.sub_code }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
   
      
    </ion-card-content>
  </ion-card>
  



</ion-content>