<ion-header [translucent]="true">
  <ion-toolbar>
<!-- Boton para regresar -->    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis calificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>

  <ion-accordion-group [multiple]="true" expand="inset">
    <ion-accordion *ngFor="let grade of grades">
      
      <ion-item slot="header">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label>
          {{grade.gra_type}}
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        {{grade.gra_score}} / 100
        <ion-icon name="star" slot="start"></ion-icon>
      </div>

      <div class="ion-padding" slot="content">
        {{grade.gra_commit}}
      </div>

      <div class="ion-padding" slot="content">
        <ion-button id="click-trigger-{{grade.gra_id}}">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </div>

      <ion-popover
      trigger="click-trigger-{{grade.gra_id}}"
      [dismissOnSelect]="true"
      [keepContentsMounted]="true"
      side="end">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item 
            [button]="true" 
            [detail]="false"
            (click)="eliminar(grade.gra_id)"> 
            <ion-icon name="trash"></ion-icon>
            Eliminar
            </ion-item>
            <ion-item
              [button]="true"
              [detail]="false"
              (click)="editar(grade.gra_id)"> 
              <ion-icon name="create"></ion-icon>
              Modificar 
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
      
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/newgrade']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <app-paginacion [total]="totalGrades" (click)="pagina($event)"></app-paginacion>

</ion-content>
