<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- MODIFICACIONES----------------------------------------------------------- -->
    <ion-title>
      Calificaciones asignadas
    </ion-title>
    <!-- MODIFICACIONES----------------------------------------------------------- -->
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>

  <!-- MODIFICACIONES----------------------------------------------------------- -->
  <ion-grid>
    <!-- Crear una fila por cada elemento --> 
    <ion-row *ngFor="let grades of grade ; let i = index">
      <!-- Crear columna para el icono -->
        <ion-col size="auto" class="icon-col">
          <!-- <ion-img src="assets/img/extra.png" alt="Foto"></ion-img> -->
          <!-- <ion-icon name="checkmark-done"></ion-icon> -->
          <ion-icon name="document-text" class="purple-icon"></ion-icon>
      </ion-col>
      <!-- Crear columna para el texto -->
      <ion-col class="text-col">
        <ion-label class="ion-text-wrap">
          <h2 class="extracurricular-text">{{grades.gra_type}}</h2>
          <h2 class="extracurricular-info">{{grades.gra_date | date: 'dd/MM/y'}}</h2>
          <h2 class="extracurricular-info">{{grades.gra_time}}</h2>
        </ion-label>
      </ion-col>

      <!-- Crear columna para boton de opciones -->
      <ion-col size="auto">
        <ion-button id="click-trigger-{{grades.gra_id}}-{{i}}" size="small">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
        <ion-popover
          trigger="click-trigger-{{grades.gra_id}}-{{i}}"
          [dismissOnSelect]="true"
          [keepContentsMounted]="true"
          side="end">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item 
                [button]="true" 
                [detail]="false"
                (click)="alertEliminar(grades.gra_id)"> 
                <ion-icon name="trash"></ion-icon>
                Eliminar
                </ion-item>
                <ion-item
                  [button]="true"
                  [detail]="false"
                  [routerLink]="['/updategrade', grades.gra_id, grupoid]"> 
                  <ion-icon name="create"></ion-icon>
                  Modificar 
                </ion-item>
                <!-- <ion-item
                  [button]="true"
                  [detail]="false"
                  [routerLink]="['extracurricular', extras.extgro_id]"> 
                  <ion-icon name="eye"></ion-icon>
                  Ver mas 
                </ion-item> -->
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>

    </ion-row>
  </ion-grid>

    <!-- Boton flotante de agregar -->
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/newgrade', grupoid]">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <!-- MODIFICACIONES----------------------------------------------------------- -->
  <!-- 
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/newgrade', grupoid]">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
-->      
      <!-- MODIFICACIONES----------------------------------------------------------- -->
      <!-- <ion-fab-button>
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button> -->
  <!--       
    </ion-fab-list>
  </ion-fab>
-->  
  <!-- MODIFICACIONES----------------------------------------------------------- -->

  <app-paginacion [total]="totalCalificaciones" (click)="pagina($event)"></app-paginacion>

</ion-content>