<ion-header [translucent]="true">
  <ion-toolbar>
    <!--     Boton para regresar
 --> <ion-buttons slot="start">
  <ion-back-button default-href="#" routerLink="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list [inset]="true" >
    <ion-grid>
      <!-- Crear una fila por cada elemento --> 
      <ion-row *ngFor="let asistencia of asistencias">
        <!-- Crear columna para el texto -->
        <ion-col (click)="showDataAlert(asistencia)">
          <ion-label>
            <h2>{{asistencia.att_commit}}</h2>
            <h3>{{asistencia.att_time}}</h3>
          </ion-label>
        </ion-col>
  
        <!-- Crear columna para boton de opciones -->
        <ion-col size="auto">
        <!-- Boton de opciones -->        
          <ion-button id="click-trigger-{{asistencia.att_id}}" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
          <ion-popover
            trigger="click-trigger-{{asistencia.att_id}}"
            [dismissOnSelect]="true"
            [keepContentsMounted]="true"
            side="end">
            <ng-template>
              <ion-content>
                <ion-list>
                  <!-- Opcion de eliminar  -->
                  <ion-item 
                    [button]="true" 
                    [detail]="false"
                    (click)="alertEliminar(asistencia.att_id)"> 
                    <ion-icon name="trash"></ion-icon>
                    Eliminar
                  </ion-item>
                  <!-- Cierro mi lista  -->
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      <!-- Cierro filas y grid -->
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>

<!-- Boton flotante de agregar -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="new()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
  
