ion-content {
    --background: url("../../assets/maestroestudiante.png");
    --background-position: center;
    --background-clip: content-box;
    --background-size: contain;
    --background-repeat: no-repeat;
    height: 100%;

}

ion-header,ion-button {
    --background:white;
}

ion-header > ion-title {
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

  
main {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 9rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    

}



ion-text{
    margin-top: 1rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    justify-content: space-between;
    text-align: center;
  
    height: 170px;
    width: 400px;
  
    margin: 0 auto;
  }
  
  b {
    width: 100%;
  }
  
  .ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
  
    border: 1px solid #ddd;
  
    user-select: none;

    width: 100%;
    height: 50px;
    border-radius: 8px;
  }

  .custom-parent {
    color: #de1e7e;
  }
  
  .custom-ripple {
    color: #501ace;
  }

   .custom-parent2 {
    color: #501ace;
  }

  div{
    margin-top: 1rem;
  }

  .blur-white {
    background-color: rgba(255, 255, 255, 0.7); /* Ajusta la opacidad según tus preferencias */
    backdrop-filter: blur(8px); /* Ajusta el valor de desenfoque según tus preferencias */
  }