<ion-header>
  <ion-toolbar color="personalizado">
      <ion-title class="ion-text-center">Modificar Calificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="grades" (ngSubmit)="guardarDatos()">
  <ion-grid> <!-- Cuadrícula de diseño -->
  <ion-row> <!-- Fila de la cuadrícula -->
      <ion-col size="12"> <!-- Columna con tamaño completo (12) -->
      <ion-item>
          <ion-label position="floating" color="primary">Calificación</ion-label>
          <!-- MODIFICACIONES----------------------------------------------------------- -->
          <ion-input type="number" formControlName="graper_score"
          class="form-control"></ion-input>
          <!-- MODIFICACIONES----------------------------------------------------------- -->
      </ion-item>
      <div id="note" *ngFor="let validation of mensajes_validacion.gra_score">
          <ion-note color="danger"
          *ngIf="getError('gra_score')[(validation.type)]">
          <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
          </ion-note>
      </div>
      </ion-col>
      <ion-col size="12">
      <ion-item>
        <!-- MODIFICACIONES----------------------------------------------------------- -->
          <ion-label position="floating" color="primary">Comentario</ion-label>
          <ion-input type="text" formControlName="graper_commit"
          class="form-control"></ion-input>
          <!-- MODIFICACIONES----------------------------------------------------------- -->
      </ion-item>
      <div id="note" *ngFor="let validation of
          mensajes_validacion.gra_commit">
          <ion-note color="danger"
          *ngIf="getError('gra_commit')[(validation.type)]">
          <ion-icon name="information-circle-outline"></ion-icon> {{validation.message }}
          </ion-note>
      </div>
      </ion-col>
      <ion-col size="12">
      <p class="ion-text-center">
          <ion-button type="submit" [disabled]="!grades.valid">Guardar</ion-button>
      </p>
      </ion-col>
  </ion-row>
  </ion-grid>
</form>
</ion-content>
