<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grupo 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon aria-hidden="true" src="assets/icon/file.svg" slot="start" ></ion-icon>
      <ion-button fill="clear" [routerLink]="['/notextracurricular', grupoid]">Eventos</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" src="assets/icon/pregunta.svg" slot="start" ></ion-icon>
      <ion-button fill="clear" [routerLink]="['/grade', grupoid]">Calificaciones</ion-button>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    
    <!-- Boton principal -->
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="bottom">
      <!-- Botones secundarios -->
      <!-- Tabla group -->
      <ion-fab-button [routerLink]="['/group']">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-fab-button>
      <!-- Tabla classroom -->
      <ion-fab-button [routerLink]="['/classroom']">
        <ion-icon name="business-outline"></ion-icon>
      </ion-fab-button>
      <!-- Tabla major -->
      <ion-fab-button [routerLink]="['/major']">
        <ion-icon name="business-outline"></ion-icon>
      </ion-fab-button>
      <!-- Tabla subject -->
      <ion-fab-button [routerLink]="['/subject']">
        <ion-icon name="business-outline"></ion-icon>
      </ion-fab-button>
      

    </ion-fab-list>
  </ion-fab>
  
</ion-content>
