ion-header {
    ion-toolbar {
        --ion-toolbar-background: linear-gradient(90deg, rgba(111,96,228,1) 4%, rgba(94,109,231,1) 37%, rgba(14,171,245,1) 60%, rgba(146,197,215,1) 86%);
        color: #fff;
        font-weight: bold;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; //Apilar cards verticalmente
}

.card-title {
    border-radius: 15px;
    box-shadow: 2px 2px 3px var(--ion-color-secondary-shade);
    text-align: center;
    margin: 20px;
    width: 95%; //Ancho máximo
    background-color: var(--ion-color-secondary-tint); //Fondo del encabezado
}

.title{
    color: var(--ion-color-text1-contrast);
    font-size: 22px;
    font-weight: bold;
}

.card-info {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    width: 95%;
}

.card-info ion-card-content {
    padding: 5px;
}

.info-label {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
}

.info-value {
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    padding: 5px 0;
}

.card-message {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    width: 95%;
}

.card-message ion-card-content {
    padding: 20px;
}

.card-message p {
    margin: 0;
    font-size: 18px;
    line-height: 1.4; //Espaciado de lineas
    padding: 10px;
    color: var(--ion-color-text1-shade);
}

.image-container img {
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
}