<ion-header [translucent]="true" class="ion-no-border">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Codigos generados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let codigo of codigos">
      
      <ion-label class="ion-text-wrap">
        <h2>{{codigo.cod_code}}</h2>
        <h3> {{codigo.tag}} </h3>
        <p>{{codigo.cod_time}}</p>
        <p>{{codigo.cod_date | date:'y-MM-dd'}}</p>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
